.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 15px 7%;
    transition: 0.5s;
}
ul{
    flex: 1;
    list-style: none;
    text-align: center;
}
ul li{
    display: inline-block;
    margin: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}
.toggle-icon{
    width: 50px;
    cursor: pointer;
    margin-left: 40px;
}
.dark .navbar{
    background: #000;
    color: #fff;

}
